# Client
client/

# Server
server/node_modules
server/.env
server/package-lock.json
server/rootca.crt
server/rootca.csr
server/rootca.key
server/killPort.sh

server/test.md

# Redis
redisData/

# Portainer
portainer/

# db
db/

# docker
Dockerfile.auth_express